:root {
    --background-color: linear-gradient(90deg, rgba(0, 100, 116, 0.2), rgba(146, 2, 2, 0.644));
    --survey-color: white;
    --form-radius: 10px;
}


/* Animation experiment */


/* GRADIENTS CANNOT BE ANIMATED! Fact of the day */

@keyframes animation1 {
    0% {
        background-color: linear-gradient(90deg, rgba(0, 100, 116, 0.2), rgba(146, 2, 2, 0.644));
    }
    50% {
        background-color: linear-gradient(90deg, rgba(146, 2, 2, 0.644), rgba(0, 100, 116, 0.2));
    }
    100% {
        background-color: linear-gradient(90deg, rgba(0, 100, 116, 0.2), rgba(146, 2, 2, 0.644));
    }
}

#survey-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border-radius: var(--form-radius);
    background-color: var(--survey-color);
    padding: 20px;
}

label {
    padding: 5px 0px 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--background-color);
    animation-name: animation1;
    animation-duration: 10s;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.pet_spend label {
    padding-left: 2rem;
}

.title-section {
    margin: auto;
    width: 50%;
    background-color: var(--survey-color);
    border-radius: var(--form-radius);
    padding: 20px;
    margin-bottom: 20px;
}

#submit {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background: lightgray;
    color: black;
    border-style: outset;
    border-color: gray;
    height: 30px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}

#submit:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}