// Bootstrap Theming:
// Your variable overrides
// $body-bg: #03a9f4; // $body-color: #111;
$theme-colors: ( "primary": #a0b8f8, "danger": #ff4136);
// @import "node_modules/bootstrap/scss/bootstrap";
// Nav Styling
.navbar-expand {
    position: fixed;
    width: 100%;
    height: 100vh;
}


/* reset the pallete to a blank slate */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h2 {
    font-size: 55px;
    text-align: center;
    font-style: italic;
    font: Times;
    vertical-align: middle;
}

.just-quote {
    min-height: 200px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.quote-box {
    margin: auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6) !important;
    // border: 1px solid red;
    // border-radius: 10px;
}

.quote-project {
    height: 94vh;
    // display: flex;
    // flex-direction: row;
    background-color: #fff;
    position: absolute;
    width: 100%
}

.quotebox-vert-center {
    height: 90%;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.background-image-container {
    // z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.random-background {
    width: 100%;
    min-height: 100%;
    ;
}


/* https://fdossena.com/?p=html5cool/buttons/i.frag */

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid grey;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: grey;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.markdown-previewer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    position: absolute;
    background-color: hsla(50, 20, 95, 1);
}

.markdown-previewer>* {
    height: 100%;
    width: 40%;
    padding: 5px;
    /* background: gray; */
}

.markdown-previewer h3 {
    text-align: center;
}

.preview-box * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
}

.preview-box {
    height: 90%;
    padding: 5px;
}

.input-textarea {
    height: 90%;
    width: 100%;
    padding: 5px;
}

.fa-font-size {
    font-size: 40px !important;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.titles-grid {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-items: space-evenly;
}

.preview-box li {
    transform: translateX(1em)
}

// Drum Machine
.drum-machine {
    height: 100vh;
    margin: auto;
    padding: 40px;
    background: grey;
    h2 {
        font-family: 'Audiowide', cursive;
        position: absolute;
        right: 70px;
        top: 10%;
    }
}

.drum-pad {
    background-color: grey;
    border: solid black;
    height: 95%;
    width: 95%;
    padding: 20px 30px 20px;
    margin: auto;
    border-radius: 3px;
    font-family: 'Audiowide', cursive;
    box-shadow: 1px 1px 1px 1px;
}

.padBankArr {
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}


/* https://codepen.io/ashokgowtham/pen/akDGb */

.display {
    margin: auto;
    margin-bottom: 30px;
    height: 50px;
    width: 400px;
    background: rgb(106, 117, 70);
    box-shadow: inset 1px 1px 7px 0px #050505, 0px 0px 4px 2px #000, 0px 0px 4px 2px #777;
    padding: 5px;
    align-items: center;
}

.lcd-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    text-justify: center;
}

.pressed {
    box-shadow: 0px 0px 8px 8px rgba(100, 0, 0, .5);
}

.keyLabel {
    font-size: 2em;
}

.drum-machine-container {
    height: 80vh;
    /* position: absolute; */
    bottom: 0px;
}


/* Calculator  */

.calculator-container {
    height: 100%;
    width: 100%;
    font-family: lato;
    font-size: 40px;
    background-color: #d9d9df;
    padding: 40px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 80%;
    gap: 20px;
    margin: auto;
    height: 95%;
}

// https://codepen.io/arcadejhs/pen/jOEBMyB
.calc-button {
    height: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -6px -6px 26px rgba(255, 255, 255, .83), 5px 10px 15px rgba(0, 0, 0, .05), 15px 20px 35px rgba(0, 0, 0, .1), inset -2px -2px 2px rgba(0, 0, 0, .1), inset -1px -1px 3px rgba(255, 255, 255, .6), inset 2px 2px 8px rgba(255, 255, 255, .2), inset 1px 1px 8px rgba(255, 255, 255, .2), -6px -6px 26px rgba(255, 255, 255, .8);
    background-color: #ececf1;
    &:hover {
        box-shadow: 4px 4px 6px rgba(0, 0, 0, .1), 5px 10px 35px rgba(0, 0, 0, .1), 8px 10px 25px rgba(0, 0, 0, .1), inset -1px -1px 9px rgba(0, 0, 0, .2), inset -1px -1px 3px rgba(255, 255, 255, .3), inset 1px 1px 8px rgba(255, 255, 255, 1), inset 4px 4px 24px rgba(0, 0, 0, .15), -5px -5px 15px rgba(255, 255, 255, .9);
        transform: scale(.98);
    }
    &:active,
    &:focus {
        box-shadow: inset 2px 2px 16px rgba(255, 255, 255, .9), inset 8px 8px 9px rgba(0, 0, 0, .2), 5px 10px 5px rgba(0, 0, 0, .03), -5px -5px 25px rgba(255, 255, 255, .1), -2px -2px 9px rgba(100, 100, 100, .1), inset -2px -2px 9px rgba(255, 255, 255, 1);
        outline: none;
        background-color: #e5e5ef;
        text-shadow: -2px -2px 3px rgba(0, 0, 0, .2), 2px 2px 3px rgba(255, 255, 255, 1);
        transform: translateY(3px);
    }
}

.button-text {
    text-align: center;
}

.calculator-display {
    box-shadow: inset 4px 4px 8px 0px rgba(10, 10, 10, .5), 0px 0px 0px 0px #000, 0px 0px 0px 0px #777;
    // width: 95%;
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.subgrid-cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: inherit;
}


/* INSPIRATION */


/* https://codepen.io/doriancami/pen/jEJvaV */


/* https://bashooka.com/coding/40-css-javascript-animated-countdown-timer-examples/ */


/* https://codepen.io/putraaryotama/pen/wgwqBB */


/* https://codepen.io/JoeCodesStuff/pen/bLbbxK */

#pomodoro-container {
    margin: auto;
    height: 100vh;
    width: 100%;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.pomodoro {
    height: 50%;
    width: 50%;
    border: solid 2px red;
    border-radius: 15px;
    padding: 30px;
}

.pomo-display {
    border-radius: 20px;
    box-shadow: inset 1px 1px 1px 1px;
    background: hsl(2, 100, 99);
    padding: 2px 5px 2px 5px;
}